@mixin glass-effect {
  background: rgba(10,10,15,.75);
  backdrop-filter: blur(12px);
  border-bottom: 1px solid rgba(255,255,255,.08);
}

@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}
